body {
    margin: 0;
}

header {
    background-color: #B47B04;
    box-shadow: 0 0 30px 10px #00000050;
    margin-bottom: 60px;
    padding: 20px 0;
}

h1 {
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}

form {
    padding-left: 80px;
    padding-bottom: 30px;
}

input {
    border-radius: 10px;
    padding: 6px 10px;
}

input[type='text'] {
    border: 1px solid #00000050;
}

input[type='checkbox'] {
    height: 20px;
    margin: 0;
    width: 20px;
}

button {
    background-color: #B47B04;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 30px 10px #00000010;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px;
    padding: 10px 15px;
}

ul {
    margin: 0;
    margin-top: 30px;
    padding: 0 80px;
}

li {
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 30px 10px #00000020;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    padding: 15px;
}

p {
    font-size: 20px;
    margin: 0;
}

.actions {
    display: flex;
    align-items: center;
}